*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #ffffff
    padding-box 20px;
}
.menu-container{
    max-width: 950px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.336);
}
h1{
    font-size: 4rem;
    margin-bottom: 30px;
}

h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
} 
h1::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.menu-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;

}
.menu-item{
    width: 44%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
}
.menu-item img{
    width: 77%;
    height: 150px;
    border-radius: 5%;
    border: 2px dashed rgb(0, 0, 0);
    object-fit: cover;
}
.menu-item h3{
    font-size: 17px;
    margin: 10px 0 5px;
}
.menu-item span{
    color: rgb(203, 132, 0);
    font-weight: 600;
}
.menu-item p{
    font-size: 15px;
    color: rgb(60, 60, 60);
}
.meats-beverages{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;

}
.meats-beverages div{
    width: 45%;
}
.meats-beverages div h4{
    font-size: 20px;
    color: rgba(43, 42, 42);
}
.meats-beverages div ul{
    list-style: none;
    padding: 0;
}
.meats-beverages div ul li{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid;
}
@media only screen and (max-width:640px){
    h1{
        font-size: 3rem;
    }
    .menu-item{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .menu-item img{
        width: 50%;
        height: 200px;
    }
    .meats-beverages{
        flex-direction: column;
    }
    .meats-beverages div{
        width: 100%;
    }
}
.googlemaps h5{
    font-size: 33px;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;

}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}
.contactinfo{
    font-size: 30px;
}